<div class="container">
    {{> navbar pfp=pfp}}

    <!-- BODY -->
    <div class="container main-area fade-in">
        <div class="row">
            <div class="col-5 profile-area"> 
                <img src={{pfp}} class="rounded-circle" width="200" height="200" alt="Profile Photo">
                
                <!-- EDIT ACCOUNT -->
                <div class="mt-4" id="edit-profile">
                    <input type="submit" class="btn btn-success w-80 edit-prof-btn" value="Edit Profile" onclick="window.location.href='/edit-profile';">
                </div>
                
                <!-- DELETE ACCOUNT -->
                <div class="container text-center" style="margin-top: 5px;">
                    <button type="button" class="btn btn-danger edit-prof-btn" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Account</button>
                </div>
                <div class="modal fade" id="deleteModal" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Confirm Account Deletion</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete your account? This action cannot be undone.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-danger" onclick="deleteAccount()">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-7 about-area">
                <h2>{{name}}</h2> <!-- Dynamically display user's name -->
                <div class="container about">
                    <div id="about-info">
                        {{aboutInfo}} <!-- Dynamically display user's bio -->
                    </div>

                    <!-- RESERVATIONS TABLE -->
                    <div class="container about-reservation">
                        <div class="table-responsive table-striped" id="about-reservations">
                            <table class="table up-res-home table-hover">
                                <thead>
                                    <tr>
                                        <th>RESERVATION ID</th>
                                        <th>REQUEST DATE</th>
                                        <th>DATE/TIME OF RESERVATION</th>
                                        <th>ROOM INFORMATION</th>
                                        <th>SEAT NUMBER</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each reservations}}
                                        <tr class="clickable-row" data-href="/room/{{this.building}}/{{this.room}}" style="font-size: 10px;">
                                            <td>{{this.reservationId}}</td>
                                            <td>
                                                <div class="container stacked-rows">
                                                    <span>{{this.requestDate}}</span>
                                                    <span>{{this.requestTime}}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="container stacked-rows">
                                                    <span>{{this.reservationDate}}</span>
                                                    <span>{{this.startTime}} to {{this.endTime}}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="container stacked-rows">
                                                    <span>{{this.building}}</span>
                                                    <span>{{this.room}}</span>
                                                </div>
                                            </td>
                                            <td>{{this.seatNumber}}</td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
