<div class="container">
    {{> navbar}}

    <!-- BODY -->
    <div class="container main-area">
        <div class="container">
            <!-- Dropdown for Buildings -->
            <div class="form-floating">
                <div class="dropdown" style="z-index: 1001;">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="building-dropdown" data-bs-toggle="dropdown">
                        <span id="selected-building-text">{{selectedBuilding}}</span>
                    </button>
                    <ul class="dropdown-menu w-100" aria-labelledby="building-dropdown">
                        {{#each uniqueBuildings}}
                            <li>
                                <a class="dropdown-item" onclick="selectBuilding('{{this}}')">{{this}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>


            <div style="margin-bottom: 1em;"></div>

            <!-- Table for Rooms -->
            <div class="table-container-build">
                <div class="table-inner-build">
                    <div class="table-responsive table-striped">
                        <table class="table up-res-home table-hover">
                            <thead style="font-size: 15pt;">
                                <tr>
                                    <th style="font-size: 15.5pt;">Location</th>
                                    <th style="font-size: 15.5pt;">Room Number</th>
                                    <th style="font-size: 15.5pt;">Number of Seats</th>
                                </tr>
                            </thead>
                            <tbody id="room-list">
                                {{#each buildings}}
                                    <tr class="clickable-row" data-href="/room/{{building}}/{{room}}">
                                        <td>{{building}}</td>
                                        <td>{{room}}</td>
                                        <td>{{capacity}}</td>
                                    </tr>
                                {{else}}
                                    <tr><td colspan="3">No rooms found for this building.</td></tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- ADD ROOM Button (Hide for students in Phase 2) -->
        {{#if isTechnician}}
        <button class="add-button-build">ADD ROOM</button>
        {{/if}}

    </div>
</div>


