<div class="container">

    <!-- NAVIGATION BAR -->
    <div class="container navigation sticky-top">
        <nav class="navbar navbar-expand">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <a class="navbar-brand" href="/login">
                        <img src="../Images/logo.png" alt="Logo" style="width: 200px; height: 50px;"> 
                    </a>
                    <div class="square" style="top: 0px;"></div>

                    <!-- LOGIN FORM -->
                    <form action="/login" method="POST" class="navContainer" style="flex-direction: row; position: absolute; right:120px;">
                        {{#if errorMessage}}
                            <script>
                                alert("{{errorMessage}}");
                            </script>
                        {{/if}}


                        <!-- EMAIL INPUT -->
                        <div class="logIn-container" style="right:20px; position:relative;">      
                        <input class="logIn-textbox" type="email" name="email" placeholder="EMAIL" required>
                            <div class="circle-text-container">
                                <div class="form-check d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" style="scale: 0.5; margin-top: -5px;">
                                    <label class="form-check-label loginLabel" for="rememberMe" style="margin-top: -5px;">
                                        Remember me
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- PASSWORD INPUT -->
                        <div class="logIn-container" style="right:10px; position:relative;">
                            <input class="logIn-textbox" type="password" name="password" placeholder="PASSWORD" required>
                            <div class="circle-text-container">
                                <a class="loginLabel" href="/forgot-password" style="text-decoration: none;">Forgot password?</a>
                            </div>
                        </div>

                        <!-- LOGIN & SIGNUP BUTTONS -->
                        <div class="logIn-container">
                            <button type="submit" class="logInButton">Login</button>
                            <button type="button" onclick="document.getElementById('signupModal').showModal();" class="logInButton">Sign Up</button>
                        </div>
                    </form>
                </ul>
            </div>
        </nav>
    </div>

    <!-- SIGN-UP MODAL -->
    <dialog id="signupModal" style="height:550px; width: 500px; border-color: #b9b4a2; border-style: solid; border-width:10px;">
        <form action="/signup" method="POST">
            <div class="signUp-container">
                <img src="../Images/x.png" style="position: absolute; width:40px; height:auto; left: 30px; cursor: pointer;" onclick="document.getElementById('signupModal').close();">                                        
                <img src="../Images/ANIMO.png" style="width: 200px; height:auto;">
                <p>Create an account to make your reservations.</p>
                <div class="line"></div>
                <div class="nameSignup-container">
                    <input class="name-field" type="text" name="firstName" placeholder="First Name" required>
                    <input class="name-field" type="text" name="lastName" placeholder="Last Name" required>
                </div>             
                <input class="reg-field" type="email" name="email" placeholder="DLSU Email" required>
                <input class="reg-field" type="password" name="password" placeholder="Password" required>
                <input class="reg-field" type="password" name="confirmPassword" placeholder="Confirm Password" required>
                <button type="submit" style="width: 100px; height:30px; border-radius:30px; font-size:10px; font-weight: bold;">SIGN UP</button>
                <div class="line"></div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="isTechnician" name="isTechnician">
                    <label class="form-check-label" for="isTechnician" style="font-size: 10px; color:#423f32">
                        Sign up as a lab technician
                    </label>
                </div>

            </div>
        </form>
    </dialog>

    <!-- SUCCESS MODAL -->
    <dialog id="successModal" style="border-color: #b9b4a2; border-style: solid; border-width:10px;">
        <form method="dialog">
            <img src="../Images/ANIMO.png" style="width: 200px; height:auto;">
            <div class="line"></div>
            <p style="padding: 20px;">Account Successfully Created!</p>
            <div class="line" style="height:2.5px;"></div>
            <a href="/home">
                <button type="button" style="gap:20px; width:100px; height:30px; border-radius:30px; font-size:10px; font-weight: bold;">CLOSE</button>
            </a>
        </form>
    </dialog>

    <!-- BODY SECTION -->
    <div class="body-container">
        <div>
            <img src="../Images/lab2.png" alt="Lab Image" style="width: 655px; height: 615px;">
        </div>         
        <div class="halfbody-container">
            <h1 style="color:#355f2e; padding-left: 175px; padding-top: 20px; font-style:bold; font-size: 50px;">Lab Reservation</h1>

            <!-- NEWS SECTION -->
            <div class="boxOuter" style="position: absolute; top: 100px; left: 155px; background-color: #cdcfc0; border-radius: 20px;">
                <p style="font-weight: bold; font-size: 20px; top:2px; text-align: center;">NEWS</p>
            </div>
            <div class="boxInner" style="position: absolute; top: 135px; left: 170px; background-color: #b9b4a2">
                <ul style="font-size: 20px; padding-top: 10px;">
                    {{#each announcement}}
                        <li>{{this.type}}</li>
                    {{/each}}
                </ul>
            </div>

            <!-- UNAVAILABLE ROOMS -->
            <div class="boxOuter" style="position: absolute; top: 350px; left: 155px; background-color: #b9b4a2; border-radius: 20px;">
                <p style="font-weight: bold; font-size: 20px; top:2px; text-align: center;">UNAVAILABLE ROOMS</p>
            </div>
            <div class="boxInner" style="position: absolute; top: 385px; left: 170px; background-color: #cdcfc0;">
                {{#each unavailableRooms}}
                    <div class="boxUpdates" style="left: 10px;">
                        <div class="info-container">
                            <ul style="align-items: center; font-size: 12px;">
                                <li>{{this.room}}</li>
                            </ul>
                            <p style="font-size: 12px;">{{this.date}}</p>
                            <div class="{{this.status}}" style="font-size: 12px; bottom: 4px;">{{this.status}}</div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>   
    </div>      
</div>

{{> time}}
