<div class="container">
    {{> navbar}}

    <!-- BODY -->
    <div class="container main-area">
        <div class="container all-reservations fade-in">
            <h1>Upcoming Reservations</h1>

            <div class="container all-reservations-container mt-3">
                <div class="table-responsive table-striped w-100" id="all-res-page">
                    <table class="table up-res-home table-hover">
                        <thead style="font-size: 18px; height: 40px;">
                            <tr>
                                <th>RESERVATION ID</th>
                                <th>REQUEST DATE</th>
                                <th>DATE/TIME OF RESERVATION</th>
                                <th>ROOM INFORMATION</th>
                                <th>SEAT NUMBER</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each reservations}}
                                <tr class="clickable-row table-row-all-res" data-href="/edit-reservation/{{this.reservationId}}" style="font-size: 10px;">
                                    <td>{{this.reservationId}}</td>
                                    <td>
                                        <div class="container stacked-rows">
                                            <span>{{this.requestDate}}</span>
                                            <span>{{this.requestTime}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="container stacked-rows">
                                            <span>{{this.reservationDate}}</span>
                                            <span>{{this.reservationTime}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="container stacked-rows">
                                            <span>{{this.building}}</span>
                                            <span>{{this.room}}</span>
                                        </div>
                                    </td>
                                    <td>{{this.seatNumber}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
