<div class="container">
    {{> navbar}}

    <!-- BODY -->
    <div class="container main-area">
        <div class="container all-reservations fade-in">
            <h1>Upcoming Reservations</h1>

            <div class="container all-reservations-container mt-3">
                <div class="table-responsive table-striped w-100" id="all-res-page">
                    <table class="table up-res-home table-hover">
                        <thead style="font-size: 18px; height: 40px;">
                            <tr>
                                <th>RESERVATION ID</th>
                                <th>REQUEST DATE</th>
                                <th>DATE/TIME OF RESERVATION</th>
                                <th>ROOM INFORMATION</th>
                                <th>SEAT NUMBER</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each reservations}}
                                    <tr class="clickable-row" data-href="/edit-reservation/{{this._id}}" style="font-size: 10px;">
                                        <td>{{this._id}}</td>
                                        <td>
                                            <div class="container stacked-rows">
                                                <span>{{this.requestDate}}</span>                              
                                            </div>
                                        </td>
                                        <td>
                                            <div class="container stacked-rows">
                                                <span>{{this.reservationDate}}</span>
                                                <span>{{this.timeIn}} to {{this.timeOut}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="container stacked-rows">
                                                <span>{{this.building.name}}</span>
                                                <span>{{this.seat.roomNum}}</span>
                                            </div>
                                        </td>
                                            <td>{{this.seat.seatNum}}</td>
                                    </tr>
                                {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
