<div class="container">
    {{> navbar}}

    <!-- BODY -->
    <div class="container main-area">
        <div class="row">
            <div class="col-8 lab-seats">
                <div style="background-color: #efeae1; padding: 2em;">
                    <div class="whiteboard">
                        WHITEBOARD
                    </div>

                    <div style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 1em;">
                        
                        <!-- MODAL FOR SEAT RESERVATION -->
                        <div class="modal fade" id="reserveSeat" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered" style="width: 450px;">
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color: #a7ca87;">
                                        <h5 class="modal-title text-center w-100 fw-bold" id="confirmReservationLabel">Confirm Reservation</h5>
                                    </div>
                                    <div class="modal-body w-100 text-center">
                                        <div>
                                            <table style="width: 100%;">
                                                <tr>
                                                    <td style="font-weight: bold; text-align: left; padding-left: 5vh;">Building:</td>
                                                    <td style="text-align: right; padding-right: 5vh;">{{building}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold; text-align: left; padding-left: 5vh;">Room:</td>
                                                    <td style="text-align: right; padding-right: 5vh;">{{room}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold; text-align: left; padding-left: 5vh;">Date:</td>
                                                    <td style="text-align: right; padding-right: 5vh;" id="modalDate">[Date]</td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold; text-align: left; padding-left: 5vh;">Time:</td>
                                                    <td style="text-align: right; padding-right: 5vh;" id="modalTime">[Time]</td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold; text-align: left; padding-left: 5vh;">Seat No:</td>
                                                    <td style="text-align: right; padding-right: 5vh;" id="modalSeatNumber">[Seat Number]</td>
                                                </tr>
                                            </table>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="reserveAnonymously">
                                                    <label class="form-check-label" for="checkbox2" style="font-style: italic;">
                                                        Reserve Anonymously?
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer d-flex justify-content-center">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
                                    <!-- SAVE RESERVATION IN PHASE 2 -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{#each seats}}
                            <div class="seat {{#if this.reserved}}reserved{{/if}}" data-bs-toggle="modal" data-bs-target="#reserveSeat" data-seat-number="{{this.seatNumber}}">
                                <div>{{this.seatNumber}}</div>
                                <div class="username">
                                    {{#if this.reserved}}
                                        {{#if this.anonymous}}
                                            Anonymous
                                        {{else}}
                                            <a href="{{this.profileLink}}">{{this.username}}</a>
                                        {{/if}}
                                    {{else}}
                                        Free
                                    {{/if}}
                                </div>
                                <div>{{this.room}}</div>
                            </div>
                        {{/each}}
                    </div>

                    <!-- Remove when proper backend has been done -->
                    <div class="container warning">
                        No Available Slots! </br>
                        Please select another time
                    </div>
                </div>
            </div>

            <!-- BOOKING A SEAT -->
            <div class="col">
                <div class="container search-lab-seat" >
                    <div> 
                        <h2 style="color: black; text-align: center; margin-top: 1em;">
                            {{building}}
                            <div style="font-size: 0.8em;">{{room}}</div>
                        </h2>
                        <div class="container mt-3">
                            <div class="form-floating">
                                <input type="date" class="form-control" id="date" name="date" min="2025-01-01" value="{{date}}" required>
                                <label for="date">Select a Date</label>
                            </div>
                        </div>

                        <div class="container mt-1">
                            <div class="form-floating">
                                <select class="form-select" id="startTime" required>
                                    <option value="{{startTime}}" selected>{{startTime}}</option>
                                    <!-- Add more options here if needed -->
                                </select>
                                <label for="startTime">Select Start Time</label>
                            </div>
                        </div>

                        <div class="container mt-1">
                            <div class="form-floating">
                                <select class="form-select" id="endTime" required>
                                    <option value="{{endTime}}" selected>{{endTime}}</option>
                                    <!-- Add more options here if needed -->
                                </select>
                                <label for="endTime">Select End Time</label>
                            </div>
                        </div>


                        <div class="container mt-4 md-4" id="search-seat">
                            <input type="submit" class="btn btn-success w-100" value="Search">
                        </div>
                        <div id="clock"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> time}}
